.app {
	width: 50%;
  text-align: center;
  position:relative;
  margin:auto;
  max-width:100%;
  max-height:100%;
  overflow:auto;

  .submit-button {
    float: right;
    padding: 10px 30px;
  }
}

