body {
  font: $mainFont;
  background: $backgroundColor;
  color: $typeDefault;
}

h2 {
  font: $headFont;
  color: $headColor;
  font-weight: $bold;
  font-size: xx-large;
  padding-bottom: 20px;
}

span.error{
  display: block;
  color: $errorBG;
}