@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800);

//Add Color Palette
$blue       : #0000ff;
$green      : #45B29D;
$yellow     : #EFC94C;
$orange     : #E27A3F;
$red        : #DF4848;
$pink       : #CD0069;
$purple     : #6C71C4;
$dark       : #000000;
$light      : #FFFFFF;
$grey		: #D3D3D3;

$backgroundColor    : $light;
$typeDefault        : $dark;
$navBackground      : $blue;
$navForeground      : $light;
$navHover           : $yellow;
$navBrandBg         : $red;
$headersubbg        : $dark;
$focused            : $blue;
$errorBG			: darken($red, 20);

//Font variables
$fontfamily       : 'Open Sans', sans-serif;

$thin     : 300;
$normal   : 400;
$bold     : 600;
$heavy    : 800;

$headFont   : $heavy 1.5em/1.5em $fontfamily;
$mainFont   : $normal 1.5em/1.5em $fontfamily;
$headColor  : lighten($dark, 20);